.logo {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#img-container span {
  display: none;
}

@media (min-width: 40rem) {
  #approval-badge {
    display: none;
  }

  #img-container span {
    display: block;
  }
}
