<app-page-wrapper>
  <app-seller-page-header
    title="Orders"
    subtitle="All Orders"
  ></app-seller-page-header>
  <div class="center mt-10" *ngIf="loading">
    <app-spinner size="1rem"></app-spinner>
    <p>Loading Orders...</p>
  </div>
  <table class="table mt-5" *ngIf="!loading && orders.length > 0">
    <thead>
      <tr>
        <th class="text-align-left">Order ID</th>
        <th class="text-align-center">Total Amount (₦)</th>
        <th class="text-align-center">Date</th>
        <th class="text-align-center">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="text-align-left">{{ order.shortId }}</td>
        <td class="text-align-center">
          {{ order.totalAmount | number }}
        </td>
        <td class="text-align-center">
          {{ order.createdAt | date: "medium" }}
        </td>
        <td class="text-align-center">
          <span
            class="badge"
            [ngClass]="{
              'bg-warning': order.status === 'Processing',
              'bg-success':
                order.status === 'Processed' ||
                order.status === 'En Route' ||
                order.status === 'Delivered'
            }"
            >{{ order.status | space }}</span
          >
        </td>
        <td class="text-align-center">
          <app-dropdown
            [items]="dropdownItems"
            (selected)="onViewOrder(order, viewOrder)"
          >
            <i class="dropdown-btn bi-three-dots-vertical cursor"></i>
          </app-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="custom-table mt-5">
    <app-list-tile *ngFor="let order of orders" classes="shadow mt-2 p-1">
      <div top>
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="m-0 mb-1">Order ID: {{ order.shortId }}</h5>
          <span
            class="badge"
            [ngClass]="{
              'bg-warning': order.status === 'Processing',
              'bg-success':
                order.status === 'Processed' ||
                order.status === 'En Route' ||
                order.status === 'Delivered'
            }"
            >{{ order.status | space }}</span
          >
        </div>
        <p class="m-0">
          <span class="fw-5">Total: </span>₦{{ order.totalAmount | number }}
        </p>
      </div>
      <div middle class="my-1">
        <span class="mr-2">{{ order.createdAt | date: "medium" }}</span>
      </div>
      <div class="d-flex justify-content-end" bottom>
        <app-text-button size="1rem" (clicked)="onViewOrder(order, viewOrder)"
          >View</app-text-button
        >
      </div>
    </app-list-tile>
  </div>
</app-page-wrapper>
<ng-template #viewOrder>
  <app-view-order
    [order]="selectedOrder"
    (refetchOrders)="getOrders()"
  ></app-view-order>
</ng-template>
