.data-item label {
  font-size: 0.8rem;
  font-weight: bold;
}

.data-item p {
  margin-top: 0.3rem;
  border: 1px solid #8d8d8d;
  border-radius: 6px;
  padding: 0.5rem;
}

@media (min-width: 40rem) {
  .container {
    width: 50%;
  }
}
