<div class="mt-5 container">
  <div class="data-item">
    <label>Bank Name</label>
    <p>{{ shop.paymentDetails.bankAccountDetails.bankName }}</p>
  </div>
  <div class="data-item">
    <label>Account Name</label>
    <p>{{ shop.paymentDetails.bankAccountDetails.accountName }}</p>
  </div>
  <div class="data-item">
    <label>Account Type</label>
    <p>{{ shop.paymentDetails.bankAccountDetails.accountType }}</p>
  </div>
  <div class="data-item">
    <label>Account Number</label>
    <p>{{ shop.paymentDetails.bankAccountDetails.accountNumber }}</p>
  </div>
</div>
