<div class="d-flex align-items-center justify-content-between">
  <div>
    <span id="approval-badge" class="badge badge-success text-align-center"
      >Approved</span
    >
    <h3 class="m-0 mt-1">{{ title }}</h3>
    <p class="mb-0" *ngIf="subtitle">{{ subtitle }}</p>
  </div>
  <div id="img-container" class="d-flex align-items-center">
    <span class="badge badge-success">Approved</span>
    <i class="bi-bell fs-3 mx-2"></i>
    <img
      src="assets/images/seller-placeholder-profile-img.svg"
      alt="Profile Image"
    />
  </div>
</div>
