<section class="mt-10">
  <app-logo></app-logo>
  <div class="signup-form center mt-3 mx-2">
    <app-card>
      <h2 class="text-align-center mb-0">Log in to Your Account</h2>
      <p class="text-align-center mt-0">
        See what is going on with your business
      </p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <app-input
          label="Email"
          id="email"
          placeholder="mail@abc.com"
          [control]="loginForm.get('email')"
        ></app-input>
        <app-input
          type="password"
          label="Password"
          id="pw"
          placeholder="Password"
          [control]="loginForm.get('password')"
        ></app-input>
        <div class="d-flex align-items-center justify-content-between my-1">
          <app-input
            type="checkbox"
            id="rem-me"
            label="Remember Me"
            [control]="loginForm.get('rememberMe')"
          ></app-input>
          <app-text-button color="#000">Forgot Password?</app-text-button>
        </div>
        <app-button classes="mt-2 col-10" [disabled]="loginForm.invalid">
          <app-spinner color="#fff" *ngIf="loading"></app-spinner
          ><span *ngIf="!loading">Log In</span>
        </app-button>
        <div class="d-flex justify-content-center my-3">
          <app-text classes="mr-1" size="0.8rem">Not Yet Registered?</app-text>
          <app-link size="0.8rem" color="#000" url="/seller/signup"
            >Create an Account</app-link
          >
        </div>
      </form>
    </app-card>
  </div>
</section>
