<div class="container pt-10 mt-2" [ngClass]="{ 'd-flex': isDesktop }">
  <app-buyer-side-nav *ngIf="isDesktop"></app-buyer-side-nav>
  <app-buyer-page-wrapper>
    <h3 class="fw-6 mt-0">
      <i class="bi-person-check mr-1"></i><span>Account Overview</span>
    </h3>
    <div class="acc-overview d-flex flex-wrap">
      <div class="flex-1 p-2 border rounded-1 acc-details mb-2">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="fw-5 m-0">
            <i class="bi-person-check mr-1"></i> <span>Account Details</span>
          </h5>
          <app-text-button size="1rem" (clicked)="onUpdateData(phoneUpdateView)"
            ><i class="bi-pencil-square text-primary"></i
          ></app-text-button>
        </div>
        <hr />
        <p>{{ user?.name?.first + " " + user?.name?.last }}</p>
        <p>{{ user?.email }}</p>
        <p>{{ user?.phone }}</p>
      </div>
      <div class="flex-1 p-2 border rounded-1 mb-2">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="fw-5 m-0">
            <i class="bi-geo-alt mr-1"></i> <span>Address</span>
          </h5>
          <app-text-button size="1rem" (clicked)="onUpdateData(addrUpdateView)"
            ><i class="bi-pencil-square text-primary"></i
          ></app-text-button>
        </div>
        <hr />
        <h4 class="mb-1 fw-6">Your Default Shipping Address</h4>
        <p class="mt-0">
          {{
            user?.address
              ? user?.address?.full
              : "Provide a default shipping address"
          }}
        </p>
      </div>
    </div>
  </app-buyer-page-wrapper>
</div>
<ng-template #addrUpdateView>
  <app-edit-user-address></app-edit-user-address>
</ng-template>
<ng-template #phoneUpdateView>
  <app-edit-user-data></app-edit-user-data>
</ng-template>
