section {
  border: 1px solid #36abd9;
  position: relative;
}

.logo {
  position: absolute;
  left: 38%;
  top: -13%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

section hr {
  border: none;
  border-top: 1px solid #36abd9;
}
