section {
  border: 1px solid #36abd9;
  position: relative;
}

.logo {
  position: absolute;
  left: 38%;
  top: -13%;
  width: 70px
}

section hr {
  border: none;
  border-top: 1px solid #36abd9;
}
