<div class="container pt-10 mt-2" [ngClass]="{ 'd-flex': isDesktop }">
  <app-buyer-side-nav *ngIf="isDesktop"></app-buyer-side-nav>
  <app-buyer-page-wrapper>
    <h3 class="fw-6 mt-0"><i class="bi-bag mr-1"></i><span>Orders</span></h3>
    <div class="center mt-10" *ngIf="loading">
      <app-spinner size="1rem"></app-spinner>
      <p>Loading Orders...</p>
    </div>
    <div class="center mt-5" *ngIf="!loading && !orders.length">
      <i class="bi-cart fs-8"></i>
      <p class="text-align-center">
        Hmmm! Seems you haven't placed any order yet...
      </p>
    </div>
    <div class="custom-table mt-5">
      <app-list-tile
        *ngFor="let order of orders"
        classes="shadow rounded-1 mt-2 p-1"
      >
        <div top>
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="m-0 mb-1">Order ID: {{ order.shortId }}</h5>
            <span
              class="badge"
              [ngClass]="{
                'bg-warning': order.status === 'Processing',
                'bg-success':
                  order.status === 'Processed' ||
                  order.status === 'En Route' ||
                  order.status === 'Delivered'
              }"
              >{{ order.status | space }}</span
            >
          </div>
          <p class="m-0">
            <span class="fw-5">Total: </span> ₦
            {{ order.totalAmount | number: "1.2-2" }}
          </p>
        </div>
        <div middle class="my-1">
          <span class="mr-2">{{ order.createdAt | date: "medium" }}</span>
        </div>
        <div class="d-flex justify-content-end" bottom>
          <app-text-button size="1rem" (clicked)="onViewOrder(order, viewOrder)"
            >View</app-text-button
          >
        </div>
      </app-list-tile>
    </div>
    <ng-template #viewOrder>
      <app-view-order
        [order]="selectedOrder"
        [sellerView]="false"
        (refetchOrders)="getOrders()"
      ></app-view-order>
    </ng-template>
  </app-buyer-page-wrapper>
</div>
