<section class="mb-10">
  <div class="mt-5 mb-3">
    <h4 class="m-0">Change Your Password</h4>
    <p class="fs-2">
      Choose a secure password that is easy for you to remember but difficult
      for others to guess.
    </p>
  </div>
  <form [formGroup]="pwForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="old-pw"
        >Old Password <small class="text-danger">*</small></label
      >
      <input
        id="old-pw"
        class="form-control"
        type="password"
        placeholder="Enter old password"
        formControlName="oldPassword"
      />
      <app-input-errors
        [control]="pwForm.get('oldPassword')"
        label="Old password"
      ></app-input-errors>
    </div>
    <div class="form-group">
      <label for="new-pw"
        >New Password <small class="text-danger">*</small></label
      >
      <input
        id="new-pw"
        class="form-control"
        placeholder="Enter new password"
        type="password"
        formControlName="newPassword"
      />
      <app-input-errors
        [control]="pwForm.get('newPassword')"
        label="New password"
      ></app-input-errors>
    </div>
    <div class="form-group">
      <label for="confirm-pw"
        >Confirm Password <small class="text-danger">*</small></label
      >
      <input
        id="confirm-pw"
        class="form-control"
        type="password"
        placeholder="Repeat new password"
        formControlName="confirmPassword"
      />
      <app-input-errors
        [control]="pwForm.get('confirmPassword')"
        label="Confirm password"
        [custom]="{ key: 'mustMatch', message: 'Passwords do not match' }"
      ></app-input-errors>
    </div>
    <app-button [disabled]="pwForm.invalid" paddingX="3rem"
      ><app-spinner color="#fff" *ngIf="loading"></app-spinner
      ><span *ngIf="!loading">Change Password</span></app-button
    >
  </form>
</section>
