table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

td:first-child,
th:first-child {
  border-left: 1px solid #dddddd;
}

td:last-child,
th:last-child {
  border-right: 1px solid #dddddd;
}

// tr:nth-child(even) {
//   background-color: #dddddd;
// }
