<app-page-wrapper>
  <app-seller-dashboard-header
    [title]="user?.name?.first + ' ' + user?.name?.last"
    subtitle="Welcome back 👋"
  >
  </app-seller-dashboard-header>
  <section id="all-stats-container" class="mt-5">
    <app-card
      ><app-statistic
        name="Total Sales"
        text="0"
        iconName="bi-cash-stack"
      ></app-statistic>
      <div class="my-2">
        <app-statistic
          name="Total Revenue"
          text="0"
          iconName="bi-graph-up-arrow"
        ></app-statistic>
      </div>
      <app-statistic
        name="Total Visitors"
        text="0"
        iconName="bi-people"
      ></app-statistic>
    </app-card>
  </section>
  <section id="single-stat-container">
    <div class="mt-5 d-flex justify-content-between">
      <app-card paddingX="4rem" paddingY="2rem"
        ><app-statistic
          name="Total Sales"
          text="0"
          iconName="bi-cash-stack"
        ></app-statistic>
      </app-card>
      <app-card paddingX="4rem" paddingY="2rem">
        <app-statistic
          name="Total Revenue"
          text="0"
          iconName="bi-graph-up-arrow"
        ></app-statistic>
      </app-card>
      <app-card paddingX="4rem" paddingY="2rem"
        ><app-statistic
          name="Total Visitors"
          text="0"
          iconName="bi-people"
        ></app-statistic>
      </app-card>
    </div>
  </section>
  <section class="mt-6">
    <h3 class="fw-5">Task(s) to complete</h3>
    <div>
      <app-spinner *ngIf="fetchingTodos"></app-spinner>
      <ng-container *ngIf="!fetchingTodos && todos.length > 0">
        <app-todo
          *ngFor="let todo of todos"
          [message]="todo.message"
        ></app-todo>
      </ng-container>
    </div>
  </section>
</app-page-wrapper>
