.modal-sm,
.modal-md,
.modal-lg {
  max-width: 90%;
}

@media (min-width: 40rem) {
  .modal-lg {
    max-width: 80%;
  }

  .modal-md {
    max-width: 50%;
  }

  .modal-sm {
    max-width: 30%;
  }
}
