.modal-sm,
.modal-md,
.modal-lg {
  max-width: 90%;
}

.side-modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
  height: 100%;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 40rem) {
  .modal-lg {
    max-width: 80%;
  }

  .modal-md {
    max-width: 50%;
  }

  .modal-sm {
    max-width: 30%;
  }

  .side-modal {
    width: 40%;
  }
}
