.dropdown {
  position: relative;
}

.dropdown-menu {
  min-width: 150px;
  z-index: 1001;
  position: fixed;
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-top: 0.6rem;
  transform: translateX(-50%);

  // &::before {
  //   content: "";
  //   width: 0;
  //   height: 0;
  //   border-left: 7px solid #36abd9;
  //   border-top: 7px solid transparent;
  //   border-right: 7px solid transparent;
  //   border-bottom: 7px solid transparent;
  //   position: absolute;
  //   left: 100%;
  //   top: calc(50% - 10px);
  // }
}

.dropdown-item {
  padding: 0.5rem 0.7rem;
  text-align: left;
}

.dropdown-item:hover {
  font-weight: 500;
}
