.text-white {
  color: #fff;
}

.text-dark {
  color: #000;
}

.text-light {
  color: #958f8f;
}

.text-primary {
  color: #36abd9;
}

.text-grey {
  color: #8d8d8d;
}

.text-danger {
  color: #ea3939;
}

.text-success {
  color: #00cb73;
}

/* BACKGROUNDS */
.bg-primary {
  background: #36abd9;
}

.bg-secondary {
  background: #8dd5f2;
}

.bg-secondary-light {
  background: #c2e0f2;
}

.bg-success {
  background: #00cb73;
}

.bg-error {
  background: #ea3939;
}
