.sln-text-white {
  color: #fff;
}

.sln-text-dark {
  color: #000;
}

.sln-text-light {
  color: #958f8f;
}

.sln-bg-primary {
  background: #36abd9;
}

.sln-bg-secondary {
  background: #8dd5f2;
}

.sln-text-grey {
  color: #8d8d8d;
}
