.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.form-control {
  width: 100%;
  outline: none;
  padding: 0.7rem 0.5rem;
  border-radius: 6px;
  border-width: 1.3px;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #958f8f;
  opacity: 1; /* Firefox */
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #958f8f;
}

.radio-group {
  margin-bottom: 1rem;
}

.radio-group label {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.radio-group input {
  width: 16px;
  height: 16px;
}

.input-error-text {
  color: red;
  font-size: 0.8rem;
  margin: 0.3rem 0;
  display: block;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
