.row {
  display: flex;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%;
}
