.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.col {
  flex: 1;
}

.col-xs-1 {
  flex: 1;
}

.col-xs-2 {
  flex: 2;
}

.col-xs-3 {
  flex: 3;
}

.col-xs-4 {
  flex: 4;
}

.col-xs-5 {
  flex: 5;
}

@media (min-width: 40rem) {
  .col-md-1 {
    flex: 1;
  }

  .col-md-2 {
    flex: 2;
  }

  .col-md-3 {
    flex: 3;
  }

  .col-md-4 {
    flex: 4;
  }

  .col-md-5 {
    flex: 5;
  }
}

.w-100 {
  width: 100%;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-stretch {
  justify-content: stretch;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-align-middle {
  vertical-align: middle;
}
