/* MARGIN (ALL) */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.m-6 {
  margin: 3rem;
}

.m-7 {
  margin: 3.5rem;
}

.m-8 {
  margin: 4rem;
}

.m-9 {
  margin: 4.5rem;
}

.m-10 {
  margin: 5rem;
}

/* LEFT MARGIN */
.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.ml-6 {
  margin-left: 3rem;
}

.ml-7 {
  margin-left: 3.5rem;
}

.ml-8 {
  margin-left: 4rem;
}

.ml-9 {
  margin-left: 4.5rem;
}

.ml-10 {
  margin-left: 5rem;
}

/* TOP MARGIN */
.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mt-7 {
  margin-top: 3.5rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mt-9 {
  margin-top: 4.5rem;
}

.mt-10 {
  margin-top: 5rem;
}

/* RIGHT MARGIN */
.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

.mr-8 {
  margin-right: 4rem;
}

.mr-9 {
  margin-right: 4.5rem;
}

.mr-10 {
  margin-right: 5rem;
}

/* BOTTOM MARGIN */
.mb-1 {
  margin-left: 0.5rem;
}

.mb-2 {
  margin-left: 1rem;
}

.mb-3 {
  margin-left: 1.5rem;
}

.mb-4 {
  margin-left: 2rem;
}

.mb-5 {
  margin-left: 2.5rem;
}

.mb-6 {
  margin-left: 3rem;
}

.mb-7 {
  margin-left: 3.5rem;
}

.mb-8 {
  margin-left: 4rem;
}

.mb-9 {
  margin-left: 4.5rem;
}

.mb-10 {
  margin-left: 5rem;
}

/* MARGIN VERTICAL */
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* MARGIN HORIZONTAL */
.px-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.px-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.px-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.px-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.px-9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.px-10 {
  margin-left: 5rem;
  margin-right: 5rem;
}
