.cursor {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
}

.text-danger {
  color: red;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.active {
  color: #36abd9;
}

.badge {
  color: #fff;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
}

.badge-success {
  background-color: #00cb73;
}
