.cursor {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 0 5px 5px rgba(0 0 0 / 3%);
}

.text-danger {
  color: red;
}

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-d-none {
  text-decoration: none;
}

.active {
  color: #36abd9;
}

.badge {
  color: #fff;
  border-radius: 4px;
  padding: 0.1rem 0.4rem;
}

.back-btn {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.table td,
.table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

.table td:first-child,
.table th:first-child {
  border-left: 1px solid #dddddd;
}

.table td:last-child,
.table th:last-child {
  border-right: 1px solid #dddddd;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
}

.line-through {
  text-decoration: line-through;
}

.divider {
  border: none;
  border-top: 1px solid #958f8f;
}
