.cursor {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
}

.text-danger {
  color: red;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.active {
  color: #36abd9;
}

.badge {
  color: #fff;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
}

.back-btn {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.table td,
.table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

.table td:first-child,
.table th:first-child {
  border-left: 1px solid #dddddd;
}

.table td:last-child,
.table th:last-child {
  border-right: 1px solid #dddddd;
}
