.top-section {
  display: flex;
  flex-direction: column;
}

.product-img {
  height: 300px;
  object-fit: cover;
}

.other-product-img {
  width: 40px;
  height: 40px;
}

.current-img {
  border: 2px solid #36abd9;
}

.qty-btn {
  width: 35px;
  height: 35px;
}

.qty {
  width: 40px;
  height: 35px;
  border: 1px solid #958f8f;
}

.divider {
  border: none;
  border-top: 3px solid #8dd5f2;
}

@media (min-width: 40rem) {
  .top-section {
    display: flex;
    flex-direction: row;
  }

  .prod-ml {
    margin-left: 1.5rem;
  }
}
