<app-buyer-nav></app-buyer-nav>
<div class="center mt-10 pt-10" *ngIf="loading">
  <app-spinner size="1rem"></app-spinner>
  <p>Loading...</p>
</div>
<section *ngIf="!loading && product">
  <section class="container pt-10 mt-5">
    <div class="top-section">
      <div>
        <img
          class="product-img"
          [src]="selectedImage.url"
          [alt]="product.name"
        />
        <div class="my-2">
          <img
            class="other-product-img mr-1 cursor"
            *ngFor="let img of product.images"
            [ngClass]="{ 'current-img': img.url === selectedImage.url }"
            [src]="img.url"
            [alt]="product.name"
            (click)="selectedImage = img"
          />
        </div>
      </div>
      <div>
        <div class="prod-ml">
          <h3 class="mt-0 mb-1 fw-5">{{ product.name }}</h3>
          <p class="price m-0">
            <span
              *ngIf="product.price.original"
              class="text-light line-through original-price mr-1"
              >₦ {{ product.price.original | number }}</span
            ><span class="fw-5 fs-4">₦ {{ product.price.sales | number }}</span>
          </p>
          <p class="m-0 my-2 fs-2">
            Sold By:
            <a [routerLink]="['/', product.shop.alias]">{{
              product.shop.alias
            }}</a>
          </p>
          <div>
            <h5 class="fw-5 mb-1">Quantity</h5>
            <div class="d-flex align-items-center">
              <button
                class="qty-btn btn bg-primary fs-3 text-white"
                (click)="onModifyQty('Sub')"
              >
                -
              </button>
              <span
                class="qty d-flex align-items-center justify-content-center fs-3"
                >{{ quantity }}</span
              >
              <button
                class="qty-btn btn bg-primary fs-3 text-white"
                (click)="onModifyQty('Add')"
              >
                +
              </button>
            </div>
          </div>
          <app-button classes="mt-3" paddingX="4rem" (clicked)="onAddToCart()"
            >Add to Cart</app-button
          >
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <app-tab-bar [tabs]="tabs" [currentTabId]="currentTabId"></app-tab-bar>
    <div *ngIf="currentTabId === 'description'">
      <div class="row">
        <div class="col-md-8 col-12">
          <p class="line-height-1">{{ product.description }}</p>
          <div *ngIf="product.features">
            <h3>Key Features</h3>
            <ul>
              <li class="mt-1" *ngFor="let feature of product.features">
                <span class="fw-6 mr-1">{{ feature.name }}:</span>
                <span>{{ feature.details }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <hr class="divider my-4" />
    <h3>MORE FROM THIS SELLER</h3>
    <app-buyer-products
      [forShop]="true"
      [shopId]="product.shop.id"
    ></app-buyer-products>
  </section>
  <app-footer *ngIf="!loading && product"></app-footer>
</section>
