<section class="mt-10">
  <app-logo></app-logo>
  <div class="form-container center pt-3 mx-2">
    <app-card>
      <h2 class="text-align-center">
        Let's get you started with your Selleen Account
      </h2>
      <form
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
        class="signup-form"
      >
        <div formGroupName="name" class="d-flex">
          <div class="form-group pr-1 col">
            <label for="f-name"
              >First Name <small class="text-danger">*</small></label
            >
            <input
              id="f-name"
              class="form-control"
              placeholder="Enter first name"
              formControlName="first"
            />
            <app-input-errors
              [control]="signupForm.get('name.first')"
              label="First name"
            ></app-input-errors>
          </div>
          <div class="form-group pl-1 col">
            <label for="l-name"
              >Last Name <small class="text-danger">*</small></label
            >
            <input
              id="l-name"
              class="form-control"
              placeholder="Enter last name"
              formControlName="last"
            />
            <app-input-errors
              [control]="signupForm.get('name.last')"
              label="Last name"
            ></app-input-errors>
          </div>
        </div>
        <div class="form-group">
          <label for="p-email"
            >Personal Email <small class="text-danger">*</small></label
          >
          <input
            id="p-email"
            class="form-control"
            placeholder="e.g. mail@abc.com"
            formControlName="email"
          />
          <app-input-errors
            [control]="signupForm.get('email')"
            label="Personal email"
          ></app-input-errors>
        </div>
        <div class="form-group">
          <label for="phone"
            >Personal Phone Number <small class="text-danger">*</small></label
          >
          <input
            id="phone"
            class="form-control"
            placeholder="e.g. 09066666666"
            formControlName="phone"
          />
          <app-input-errors
            [control]="signupForm.get('phone')"
            label="Personal phone number"
          ></app-input-errors>
        </div>
        <div class="form-group">
          <label for="shop-name"
            >Shop Name <small class="text-danger">*</small></label
          >
          <input
            id="shop-name"
            class="form-control"
            placeholder="Enter shop name"
            formControlName="shopName"
          />
          <app-input-errors
            [control]="signupForm.get('shopName')"
            label="Shop name"
          ></app-input-errors>
        </div>
        <div class="form-group">
          <label for="s-email"
            >Shop Email <small class="text-danger">*</small></label
          >
          <input
            id="s-email"
            class="form-control"
            placeholder="e.g. mail@abc.com"
            formControlName="shopEmail"
          />
          <app-input-errors
            [control]="signupForm.get('shopEmail')"
            label="Shop email"
          ></app-input-errors>
        </div>
        <div formGroupName="shopAddress">
          <div class="form-group">
            <label for="full-addr"
              >Shop's Full Address <small class="text-danger">*</small></label
            >
            <input
              id="full-addr"
              class="form-control"
              placeholder="e.g. 10, Immaculate street..., Edo state, Nigeria."
              formControlName="full"
            />
            <app-input-errors
              [control]="signupForm.get('shopAddress.full')"
              label="Shop's full address"
            ></app-input-errors>
          </div>
          <div class="form-group">
            <label for="city">What city is your shop in?</label>
            <input
              id="city"
              class="form-control"
              placeholder="e.g. Benin"
              formControlName="city"
            />
          </div>
          <div class="form-group">
            <label for="state"
              >What state is your shop based?
              <small class="text-danger">*</small></label
            >
            <select class="form-control" id="state" formControlName="state">
              <option *ngFor="let opt of stateOpts" [value]="opt.value">
                {{ opt.label }}
              </option>
            </select>
            <app-input-errors
              [control]="signupForm.get('shopAddress.state')"
              label="State"
            ></app-input-errors>
          </div>
          <div class="form-group">
            <label for="country"
              >What country is your shop in?
              <small class="text-danger">*</small></label
            >
            <select class="form-control" id="country" formControlName="country">
              <option *ngFor="let opt of countryOpts" [value]="opt.value">
                {{ opt.label }}
              </option>
            </select>
            <app-input-errors
              [control]="signupForm.get('shopAddress.country')"
              label="Country"
            ></app-input-errors>
          </div>
        </div>
        <div class="form-group">
          <label for="know-of"
            >How did you get to know of Selleen?
            <small class="text-danger">*</small></label
          >
          <select class="form-control" id="know-of" formControlName="knowOf">
            <option *ngFor="let opt of knowOfOpts" [value]="opt.value">
              {{ opt.label }}
            </option>
          </select>
          <app-input-errors
            [control]="signupForm.get('knowOf')"
            label="How did you know of Selleen"
          ></app-input-errors>
        </div>
        <div class="form-group">
          <label for="pw">Password <small class="text-danger">*</small></label>
          <input
            id="pw"
            class="form-control"
            placeholder="Enter password"
            type="password"
            formControlName="password"
          />
          <app-input-errors
            [control]="signupForm.get('password')"
            label="Password"
          ></app-input-errors>
        </div>
        <div class="form-group">
          <label for="confirm-pw"
            >Confirm Password <small class="text-danger">*</small></label
          >
          <input
            id="confirm-pw"
            class="form-control"
            placeholder="Repeat password"
            type="password"
            formControlName="confirmPassword"
          />
          <app-input-errors
            [control]="signupForm.get('confirmPassword')"
            label="Confirm password"
            [custom]="{ key: 'mustMatch', message: 'Passwords do not match' }"
          ></app-input-errors>
        </div>
        <app-button
          classes="mt-2"
          [fullWidth]="true"
          [disabled]="
            signupForm.invalid || !signupForm.get('agreedToTerms')?.value
          "
        >
          <app-spinner color="#fff" *ngIf="loading"></app-spinner
          ><span *ngIf="!loading">Sign Up</span>
        </app-button>
        <div class="d-flex align-items-end my-2">
          <label class="d-flex align-items-center fs-2 cursor"
            ><input
              class="d-inline-block ml-0 my-0 mr-1"
              type="checkbox"
              formControlName="agreedToTerms"
            />
            <app-text
              >I acknowledge that I have read and do hereby accept the terms and
              conditions in the Selleen's
              <app-link color="#000">Terms of Service</app-link> and
              <app-link color="#000">Privacy Policy</app-link>.
            </app-text>
          </label>
        </div>
        <div class="d-flex justify-content-center my-5">
          <app-text classes="mr-1" size="0.8rem"
            >Already have an account?</app-text
          >
          <app-link size="0.8rem" color="#000" url="/seller/login"
            >Login</app-link
          >
        </div>
      </form>
    </app-card>
  </div>
</section>
