<div *ngIf="type !== 'checkbox'" class="form-group">
  <label *ngIf="label" [for]="id"
    >{{ label }} <small *ngIf="required" class="text-danger">*</small></label
  >
  <input
    *ngIf="
      type === 'text' ||
      type === 'number' ||
      type === 'date' ||
      type === 'password'
    "
    [style.borderColor]="colorTheme?.textDark"
    class="form-control"
    [ngClass]="{ 'mb-2': !hasErrors() }"
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    [readonly]="disabled"
  />
  <textarea
    *ngIf="type === 'textarea'"
    [style.borderColor]="colorTheme?.textDark"
    class="form-control"
    [ngClass]="{ 'mb-2': !hasErrors() }"
    [id]="id"
    [placeholder]="placeholder"
    [formControl]="control"
    [readonly]="disabled"
    [cols]="cols"
    [rows]="rows"
  ></textarea>
  <select
    class="form-control"
    [ngClass]="{ 'mb-2': !hasErrors() }"
    *ngIf="type === 'select'"
    [id]="id"
    [formControl]="control"
  >
    <option *ngFor="let opt of selectOptions" [value]="opt.value">
      {{ opt.label }}
    </option>
  </select>
  <div *ngIf="hasErrors()">
    <span class="input-error-text" *ngIf="control.errors.required"
      >{{ label }} is required</span
    >
    <span class="input-error-text" *ngIf="control.errors.minlength">
      {{ label }} should be at least
      {{ control.errors.minlength.requiredLength }} characters long
    </span>
    <span class="input-error-text" *ngIf="control.errors.maxlength">
      {{ label }} can't be more than
      {{ control.errors.maxlength.requiredLength }} characters
    </span>
    <span class="input-error-text" *ngIf="control.errors.pattern"
      >{{ label }} isn't in the right format</span
    >
    <span class="input-error-text" *ngIf="control.errors.email"
      >Email is invalid</span
    >
  </div>
  <span class="input-error-text" *ngIf="errorMessage">{{ errorMessage }}</span>
</div>

<div *ngIf="type === 'checkbox'" class="d-flex align-items-end">
  <label
    class="d-flex align-items-center fs-2 cursor"
    [style.fontSize]="checkboxLabelSize"
    ><input
      class="d-inline-block ml-0 my-0 mr-1"
      type="checkbox"
      [style.width]="checkboxSize"
      [style.height]="checkboxSize"
      [formControl]="control"
      [readonly]="disabled"
    />
    {{ label }}
  </label>
</div>
