<div *ngIf="type !== 'checkbox'" [class]="'form-group ' + classes">
  <label *ngIf="label" [for]="id"
    >{{ label }} <small *ngIf="required" class="text-danger">*</small></label
  >
  <input
    *ngIf="
      type === 'text' ||
      type === 'number' ||
      type === 'date' ||
      type === 'password'
    "
    [style.borderColor]="colorTheme?.textDark"
    class="form-control"
    [ngClass]="{ 'mb-0': hasErrors && bottomMargin }"
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    [readonly]="disabled"
  />
  <textarea
    *ngIf="type === 'textarea'"
    [style.borderColor]="colorTheme?.textDark"
    class="form-control"
    [ngClass]="{ 'mb-0': hasErrors && bottomMargin }"
    [id]="id"
    [placeholder]="placeholder"
    [formControl]="control"
    [readonly]="disabled"
    [cols]="cols"
    [rows]="rows"
  ></textarea>
  <select
    class="form-control"
    [ngClass]="{ 'mb-0': hasErrors && bottomMargin }"
    *ngIf="type === 'select'"
    [id]="id"
    [formControl]="control"
  >
    <option *ngFor="let opt of selectOptions" [value]="opt.value">
      {{ opt.label }}
    </option>
  </select>
</div>
<div *ngIf="type === 'checkbox'" class="d-flex align-items-end">
  <label
    class="d-flex align-items-center fs-2 cursor"
    [style.fontSize]="checkboxLabelSize"
    ><input
      class="d-inline-block ml-0 my-0 mr-1"
      type="checkbox"
      [style.width]="checkboxSize"
      [style.height]="checkboxSize"
      [formControl]="control"
      [readonly]="disabled"
    />
    {{ label }}
  </label>
</div>
