<form class="mt-5 mb-10" [formGroup]="shopInfoForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="owner-name"
      >Owner Name <small class="text-danger">*</small></label
    >
    <input
      id="owner-name"
      class="form-control"
      readonly
      formControlName="ownerName"
    />
  </div>
  <div class="form-group">
    <label for="shop-name"
      >Shop Name <small class="text-danger">*</small></label
    >
    <input
      id="shop-name"
      class="form-control"
      readonly
      formControlName="shopName"
    />
  </div>
  <div class="form-group mb-2">
    <label for="alias">Shop Alias <small class="text-danger">*</small></label>
    <input
      id="alias"
      class="form-control"
      placeholder="Enter shop alias"
      formControlName="alias"
    />
    <span class="d-block mt-1"
      >https://www.selleen.com/<span class="fw-5">{{
        enteredAlias
      }}</span></span
    >
    <app-input-errors
      [control]="shopInfoForm.get('alias')"
      label="Shop alias"
    ></app-input-errors>
  </div>
  <div class="form-group">
    <label for="email">Shop Email <small class="text-danger">*</small></label>
    <input id="email" class="form-control" readonly formControlName="email" />
  </div>
  <ng-container formArrayName="contactLines">
    <div
      class="form-group mb-2"
      *ngFor="let line of contactLines.controls; let i = index"
    >
      <label>Shop Contact Number <small class="text-danger">*</small></label>
      <div class="d-flex align-items-center">
        <input
          class="form-control mr-1"
          placeholder="e.g. 090666666666"
          [formControlName]="i"
        />
        <app-text-button
          *ngIf="contactLines.controls.length > 1"
          (clicked)="onRemoveContactLine(i)"
          ><i class="bi-file-minus fs-3 text-danger"></i
        ></app-text-button>
      </div>
      <app-input-errors
        [control]="line"
        label="Contact number"
      ></app-input-errors>
    </div>
  </ng-container>
  <app-text-button
    *ngIf="contactLines.controls.length < 2"
    (clicked)="onAddContactLine()"
    ><i class="bi-plus fs-2"></i> Add Second Contact Number</app-text-button
  >
  <div class="mt-3" formGroupName="address">
    <div class="form-group">
      <label for="full-addr"
        >Full Address <small class="text-danger">*</small></label
      >
      <input
        id="full-addr"
        class="form-control"
        placeholder="e.g. 10, Immaculate street..., Edo state, Nigeria."
        formControlName="full"
      />
      <app-input-errors
        [control]="shopInfoForm.get('address.full')"
        label="Full address"
      ></app-input-errors>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input
        id="city"
        class="form-control"
        placeholder="e.g. Benin"
        formControlName="city"
      />
    </div>
    <div class="form-group">
      <label for="state">State <small class="text-danger">*</small></label>
      <select class="form-control" id="state" formControlName="state">
        <option *ngFor="let opt of stateOpts" [value]="opt.value">
          {{ opt.label }}
        </option>
      </select>
      <app-input-errors
        [control]="shopInfoForm.get('address.state')"
        label="State"
      ></app-input-errors>
    </div>
    <div class="form-group">
      <label for="country">Country <small class="text-danger">*</small></label>
      <select class="form-control" id="country" formControlName="country">
        <option *ngFor="let opt of countryOpts" [value]="opt.value">
          {{ opt.label }}
        </option>
      </select>
      <app-input-errors
        [control]="shopInfoForm.get('address.country')"
        label="Country"
      ></app-input-errors>
    </div>
  </div>
  <div class="form-group">
    <label for="desc">Description <small class="text-danger">*</small></label>
    <textarea
      id="desc"
      class="form-control"
      placeholder="Tell us about your shop..."
      formControlName="description"
      rows="10"
    ></textarea>
    <app-input-errors
      [control]="shopInfoForm.get('description')"
      label="Description"
    ></app-input-errors>
  </div>
  <app-button paddingX="3rem" [disabled]="shopInfoForm.invalid"
    ><app-spinner color="#fff" *ngIf="loading"></app-spinner>
    <span *ngIf="!loading">Update</span></app-button
  >
</form>
