<footer class="bg-primary text-white pt-5 pb-10 mt-5">
  <div class="container-md">
    <hr class="line" />
    <div
      id="main-content"
      class="d-flex justify-content-between align-items-center mt-3"
    >
      <div class="logo-container">
        <app-logo size="7rem" color="white"></app-logo>
      </div>
      <ul id="list-items" class="list-style-none">
        <li class="list-item">
          <a class="text-white text-d-none mr-3 fs-2" href="#">Home</a>
        </li>
        <li class="list-item">
          <a class="text-white text-d-none mr-3 fs-2" href="#">About Us</a>
        </li>
        <li class="list-item">
          <a class="text-white text-d-none mr-3 fs-2" href="#">Contact</a>
        </li>
        <li class="list-item">
          <a class="text-white text-d-none mr-3 fs-2" href="#">Terms</a>
        </li>
        <li class="list-item">
          <a class="text-white text-d-none mr-3 fs-2" href="#">FAQ</a>
        </li>
        <li class="list-item">
          <a class="text-white text-d-none mr-3 fs-2" href="#">Privacy</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a href="#"><i class="bi-instagram text-white"></i></a
        ><a href="#"><i class="bi-facebook text-white mx-2"></i></a
        ><a href="#"><i class="bi-twitter text-white"></i></a>
      </div>
    </div>
    <p class="fw-6 fs-2 center mt-3">&copy; 2022 Selleen. All Rights Reserved.</p>
  </div>
</footer>
