<app-page-wrapper>
  <app-seller-page-header title="Products" subtitle="Manage your Products">
  </app-seller-page-header>
  <div class="d-flex justify-content-end mt-5">
    <app-button (clicked)="onAddProduct()"
      ><span class="d-flex align-items-center"
        ><i class="bi-plus fs-3"></i><span>Add a Product</span></span
      ></app-button
    >
  </div>
  <div class="center mt-10" *ngIf="loading">
    <app-spinner size="1rem"></app-spinner>
    <p>Loading Products...</p>
  </div>
  <table class="table mt-2" *ngIf="!loading && products.length > 0">
    <thead>
      <tr>
        <th class="text-align-left">Name</th>
        <th class="text-align-center">Number In Stock</th>
        <th class="text-align-center">Sales Price</th>
        <th class="text-align-center">Created At</th>
        <th class="text-align-center">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td class="text-align-left">{{ prod.name }}</td>
        <td class="text-align-center">{{ prod.numberInStock }}</td>
        <td class="text-align-center">
          {{ prod.price.sales | number: "1.2-2" }}
        </td>
        <td class="text-align-center">{{ prod.createdAt | date }}</td>
        <td class="text-align-center">
          <span
            class="badge"
            [ngClass]="{
              'bg-success': prod.status === 'Approved',
              'bg-warning': prod.status === 'InReview',
              'bg-danger': prod.status === 'Disapproved'
            }"
            >{{ prod.status | space }}</span
          >
        </td>
        <td class="text-align-center">
          <app-dropdown
            [items]="dropdownItems"
            (selected)="onSelectProduct(prod); onSelectItem($event)"
            ><i class="dropdown-btn bi-three-dots-vertical cursor"></i
          ></app-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="custom-table">
    <app-list-tile
      *ngFor="let prod of products"
      [imageUrl]="prod.images[0].url"
      classes="shadow mt-2 p-1"
    >
      <h5 class="m-0" top>{{ prod.name }}</h5>
      <div middle class="my-1 d-flex justify-content-between">
        <p class="m-0">
          <span 
            *ngIf="prod.price.original"
            class="line-through text-light mr-1"
            >{{ prod.price.original | number: "1.2-2" }}</span
          ><span>{{ prod.price.sales | number: "1.2-2" }}</span>
        </p>
        <span
          class="badge"
          [ngClass]="{
            'bg-success': prod.status === 'Approved',
            'bg-warning': prod.status === 'InReview',
            'bg-danger': prod.status === 'Disapproved'
          }"
          >{{ prod.status | space }}</span
        >
      </div>
      <div bottom>
        <app-text-button (clicked)="onActionButtonClicked('view')"
          >View</app-text-button
        >
        <app-text-button
          classes="mx-3"
          (clicked)="onSelectProduct(prod); onActionButtonClicked('edit')"
          >Edit</app-text-button
        >
        <app-text-button
          classes="mr-3"
          (clicked)="onActionButtonClicked('copy')"
          >Copy Link</app-text-button
        >
        <app-text-button color="red" (clicked)="onActionButtonClicked('delete')"
          >Delete</app-text-button
        >
      </div>
    </app-list-tile>
  </div>
</app-page-wrapper>
