#nav-sm {
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 100;
}

.nav-link {
  text-decoration: none;
  font-size: 0.75rem;
}

.nav-link-icon {
  font-size: 1.4rem;
}

#nav-md-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  padding: 1rem 0;
  display: block;
  z-index: 100;
  background: #fff;
}

.cart-icon {
  position: relative;
}

.cart-item-count {
  bottom: 15px;
  left: 18px;
  text-align: center;
  position: absolute;
  font-size: 0.6rem;
  background: red;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0.1rem;
}

@media (min-width: 40rem) {
  #nav-items {
    flex-direction: column;
  }

  #nav-link {
    flex-direction: row;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .active {
    background: #36abd9;
    color: white;
  }

  #nav-link-icon {
    font-size: 1rem;
  }

  #nav-link-text {
    margin-left: 0.5rem;
  }
}
