#nav-sm {
  display: block;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background: #fff;
}

.nav-link {
  text-decoration: none;
  font-size: 0.75rem;
}

.nav-link-icon {
  font-size: 1.3rem;
}

#nav-md-top {
  display: none;
}

#search-input {
  outline: none;
  padding: 0.5rem;
  border-radius: 6px;
  border-width: 1.3px;
  border: 1px solid #958f8f;
}

#search-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #958f8f;
  opacity: 1; /* Firefox */
}

#search-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #958f8f;
}

@media (min-width: 40rem) {
  #nav-sm {
    display: none;
  }

  #nav-md-top {
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
    padding: 0;
    padding: 1rem 0;
    display: block;
  }

  #nav-items {
    flex-direction: column;
  }

  #nav-link {
    flex-direction: row;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .active {
    background: #36abd9;
    color: white;
  }

  #nav-link-icon {
    font-size: 1rem;
  }

  #nav-link-text {
    margin-left: 0.5rem;
  }
}
