.product-image {
  height: 200px;
  object-fit: cover;
  transform: scale(1);
  transition-duration: 0.4s;
}

.product-name {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  margin-top: 0.3rem;
}

.original-price {
  font-size: 0.8rem;
}
