<div
  *ngIf="shouldCompress"
  (click)="compressImages()"
  class="cursor file-picker d-flex-col text-align-center"
  [ngClass]="classes"
>
  <label class="mb-1" *ngIf="label">{{ label }}</label>
  <div class="p-5 d-flex-col">
    <i class="mb-1 text-grey bi-image"></i>
    <span class="text-primary">Tap to Select</span>
  </div>
</div>
<div
  *ngIf="!shouldCompress"
  (click)="inputEl.click()"
  class="cursor file-picker d-flex-col text-align-center"
  [ngClass]="classes"
>
  <label class="mb-1" *ngIf="label">{{ label }}</label>
  <input
    #inputEl
    class="col-5"
    type="file"
    [accept]="accept"
    [multiple]="multiple"
    onchange="onSelectFile($event)"
  />
  <div class="p-5 d-flex-col">
    <i class="mb-1 text-grey bi-image"></i>
    <span class="text-primary">Tap to Select</span>
  </div>
</div>
