<app-page-wrapper>
  <app-admin-page-header title="Products" subtitle="Manage Products">
  </app-admin-page-header>
  <div class="center mt-10" *ngIf="loading">
    <app-spinner size="1rem"></app-spinner>
    <p>Loading Products...</p>
  </div>
  <table
    id="table-md"
    class="table mt-10"
    *ngIf="!loading && products.length > 0"
  >
    <thead>
      <tr>
        <th class="text-align-left">Name</th>
        <th class="text-align-center">Number In Stock</th>
        <th class="text-align-center">Sales Price (₦)</th>
        <th class="text-align-center">Created At</th>
        <th class="text-align-center">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td class="text-align-left">{{ prod.name }}</td>
        <td class="text-align-center">{{ prod.numberInStock }}</td>
        <td class="text-align-center">
          {{ prod.price.sales | number: "1.2-2" }}
        </td>
        <td class="text-align-center">{{ prod.createdAt | date }}</td>
        <td class="text-align-center">
          <span
            class="badge"
            [ngClass]="{
              'bg-success': prod.status === 'Approved',
              'bg-warning': prod.status === 'InReview',
              'bg-danger': prod.status === 'Disapproved'
            }"
            >{{ prod.status | space }}</span
          >
        </td>
        <td class="text-align-center">
          <app-dropdown
            [items]="dropdownItems"
            (selected)="onAction($event, prod, prodInfo)"
            ><i class="dropdown-btn bi-three-dots-vertical cursor"></i
          ></app-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="table-sm">
    <app-list-tile
      *ngFor="let prod of products"
      imageUrl="assets/images/profile-img-placeholder.svg"
      classes="shadow mt-2 p-1"
    >
      <h5 class="m-0" top>{{ prod.name }}</h5>
      <div middle class="my-1 d-flex justify-content-between">
        <p class="m-0">
          <span *ngIf="prod.price.original" class="line-through text-light mr-2"
            >₦ {{ prod.price.original | number: "1.2-2" }}</span
          ><span> ₦{{ prod.price.sales | number: "1.2-2" }}</span>
        </p>
        <span
          class="badge"
          [ngClass]="{
            'bg-success': prod.status === 'Approved',
            'bg-warning': prod.status === 'InReview',
            'bg-danger': prod.status === 'Disapproved'
          }"
          >{{ prod.status | space }}</span
        >
      </div>
      <div bottom>
        <app-text-button (clicked)="onAction('view', prod, prodInfo)"
          >View</app-text-button
        >
      </div>
    </app-list-tile>
  </div>
</app-page-wrapper>
<ng-template #prodInfo>
  <app-product-info [product]="selectedProd"></app-product-info>
</ng-template>
