<section class="mt-10">
  <app-logo></app-logo>
  <div class="form-container pt-3 mx-2">
    <app-card classes="p-2">
      <h2 class="text-align-center px-2">
        Log in to Your Selleen Admin Account
      </h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label for="email">Email <small class="text-danger">*</small></label>
          <input
            id="email"
            class="form-control"
            placeholder="e.g. mail@abc.com"
            formControlName="email"
          />
          <app-input-errors
            [control]="loginForm.get('email')"
            label="Email"
          ></app-input-errors>
        </div>
        <div class="form-group">
          <label for="pw">Password <small class="text-danger">*</small></label>
          <input
            id="pw"
            type="password"
            class="form-control"
            placeholder="Enter password"
            formControlName="password"
          />
          <app-input-errors
            [control]="loginForm.get('password')"
            label="Password"
          ></app-input-errors>
        </div>
        <div class="d-flex align-items-center justify-content-between my-1">
          <app-checkbox
            id="rem-me"
            label="Remember Me"
            [control]="loginForm.get('rememberMe')"
          ></app-checkbox>
          <app-text-button color="#000">Forgot Password?</app-text-button>
        </div>
        <app-button
          classes="mt-2"
          [fullWidth]="true"
          [disabled]="loginForm.invalid || loading"
        >
          <app-spinner color="#fff" *ngIf="loading"></app-spinner
          ><span *ngIf="!loading">Log In</span>
        </app-button>
        <div class="d-flex justify-content-center my-3">
          <app-text classes="mr-1" size="0.8rem">Not Yet Registered?</app-text>
          <app-link size="0.8rem" color="#000" url="/admin/signup"
            >Create an Account</app-link
          >
        </div>
      </form>
    </app-card>
  </div>
</section>
